nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.logo a {
    color: #fb4a4a;
    font-weight: 700;
    font-size: 24px;
}
Button {
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    width: 170px;
}