.main {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 32px;
}

img {
    width: 350px;
}

p {
    font-size: 16px;
}