.sectionOne {
    width: 900px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
}

.sectionOne img {
    height: 300px;
}

.textButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
}

.textButton h2 {
    font-size: 32px;
}

.textButton p {
    font-size: 20px;
}

.sectionTwo {
    width: 900px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.sectionTwoTitle {
    display: flex;
    align-items: center;
    font-size: 32px;
}

.sectionTwoTitle h2 {
    width: 420px;
    padding: 0 40px;
}

.sectionTwoTitle hr {
    height: 20px;
    width: 400px;
    background-color: #5B79F1;
}

.sectionTwoTitle, p, img {
    margin: 30px 0;
}

footer {
    width: 1400px;
}